<!DOCTYPE html>
<html>

<head>
  <title>Paint2Help</title>
  <link rel='stylesheet' href='javascripts/plugins/unitegallery/css/unite-gallery.css' type='text/css' />
</head>

<body>
  <main role="main" class="container">
    {{{body}}}
  </main>

  <!-- Bootstrap/jQuery -->
  <script type='text/javascript' src='javascripts/jquery.min.js'></script>
  <script type='text/javascript' src='javascripts/plugins/unitegallery/js/unitegallery.min.js'></script>
  <script type='text/javascript' src='javascripts/plugins/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

  <script type="text/javascript">

    jQuery(document).ready(function () {
      jQuery("#gallery").unitegallery();
    }); 
  </script>
</body>

</html>