<div>
  <h1>Paint2Help</h1>
</div>
<div id="gallery" style="margin:0px auto;display:none;">
  {{#each imageList}}
  <img alt="Image {{this}} Title" src="luna/{{this}}" data-image="luna/{{this}}"
    data-description="Image {{this}} Description" style="display:none">
  {{/each}}
</div>